hr {
    margin: 0;
}

.footer {
    background-color: var(--white);
    padding: 1em;
}

.footer__list {
    display: none;
}

.footer__list__link:hover {
    color: var(--orange);
}

@media screen and (min-width: 1024px) {
    .footer {
        display: flex;
        justify-content: space-around;
    }

    .footer__title {
        font-size: 24px;
    }

    .footer__list {
        display: block;
    }

    .footer__list__item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .footer__list__link {
        color: var(--grey);
        text-decoration-line: none;
        margin-left: 0.6em;
    }

    .footer__list__title {
        font-size: 14px;
        color: var(--grey-title);
    }
}

@media screen and (min-width: 1728px) {
    .footer {
        padding: 3em;
    }

    .footer__list {
        border-left: 1px solid var(--grey-title);
        padding-left: 1em;
    }
}